<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
    <%= form.text_field :title, id: :post_title, placeholder: 'Blog Title', class: 'form-control' %>
  </div>

  <div class="form-group">
    
    <%= form.text_field :author, id: :post_author, placeholder: 'I go by the name of ...',class: 'form-control' %>
  </div>

  <div class="form-group">
    
    <%= form.text_area :blog_entry, id: :post_blog_entry, placeholder: 'Here\'s what I\'ve been thinking...', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Let the world know!', class: 'btn btn-danger'%>
  </div>
<% end %>
