<p id="notice"><%= notice %></p>

<div class="index-container">

<center><h1>Here's what the cat's have been meowing about...<%= image_tag 'cat-1185453.png', class: 'title-pic' %></h1></center>

<% @posts.each do |post| %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2><%= post.title %>, by <%= link_to post.user.username, user_posts_path(name: post.user.username) %> <%= image_tag post.user.avatar.thumb %></h2>
    </div>
    <div class="panel-body">
      <p><%= post.blog_entry.html_safe %></p>
    </div>
    <div class="panel-footer" >
      <p>Created on <%= post.created_at.strftime("%B %e, %Y at %l:%M %p") %></p>
      <p><%= link_to 'Show', post, class: 'btn btn-primary' %>  
         <% if current_user.id == post.user_id %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-warning' %> <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p>
        <% end %>
    </div> 
  </div>

<% end %>
</div>
<br>

<%= link_to 'New Post', new_post_path %>

<%= paginate @posts %>