<p id="notice"><%= notice %></p>

<div class='index-container' >
  <div class='panel panel-primary' >
    <div class="panel-heading"><h1><%= @post.title %>, Posted by: <%= link_to @post.user.username, user_posts_path(name: @post.user.username) %> <%= image_tag @post.user.avatar.thumb %></h1></div>

    <div class='panel-body'>
        
        <p><%= @post.blog_entry.html_safe %></p>
    </div>

    <div class="panel-footer" >
      <% if current_user.id == @post.user_id %>
        <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
      <% end %> 
    </div>
  </div>



  <div id="comments" >

  <h4 class="beanie">What do you think?</h4>
  	<%= render 'comments/form', comment: @comment %>


    <h3 class="beanie">What the readers are saying...</h3>
  	<% @post.comments.each do|comment| %>
    <div class="well" >
  		<p class='comment-header'> <%= image_tag comment.user.avatar.thumb %> On <%= comment.created_at.strftime("%B %e, %Y at %l:%M %p") %>,  <%= link_to comment.user.username, user_posts_path(name: comment.user.username) %> said ...</p>
  		<p><%= comment.comment_entry.html_safe %></p>

    </div> 
     
  	<% end %>




  </div>

</div>
 
<%= link_to 'Back', posts_path, class: 'btn btn-primary' %>
